# CheXpert:
    Mine reports for mention of device directly.

In [3]:
import pandas as pd
cxr_records = pd.read_csv('mimiccxr_files/cxr-record-list.csv.gz') #images
cxr_records.head()

,subject_id,study_id,dicom_id,path
0,10000032,50414267,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,files/p10/p10000032/s50414267/02aa804e-bde0afd...
1,10000032,50414267,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,files/p10/p10000032/s50414267/174413ec-4ec4c1f...
2,10000032,53189527,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,files/p10/p10000032/s53189527/2a2277a9-b0ded15...
3,10000032,53189527,e084de3b-be89b11e-20fe3f9f-9c8d8dfe-4cfd202c,files/p10/p10000032/s53189527/e084de3b-be89b11...
4,10000032,53911762,68b5c4b1-227d0485-9cc38c3f-7b84ab51-4b472714,files/p10/p10000032/s53911762/68b5c4b1-227d048...

In [53]:
cxr_studies = pd.read_csv('mimiccxr_files/cxr-study-list.csv.gz', compression='gzip').rename(columns = {'path':'txt_path'})
cxr_studies.head()

   subject_id  study_id                               path
0    10000032  50414267  files/p10/p10000032/s50414267.txt
1    10000032  53189527  files/p10/p10000032/s53189527.txt
2    10000032  53911762  files/p10/p10000032/s53911762.txt
3    10000032  56699142  files/p10/p10000032/s56699142.txt
4    10000764  57375967  files/p10/p10000764/s57375967.txt

In [37]:
pathdir = 'mimiccxr_files/'
from tqdm import tqdm
def get_text(row):
    fpath= pathdir+row
    with open(fpath, 'r') as file:
        text = file.read()
    return text
tqdm.pandas(desc='assigning text...')
cxr_studies['text'] = cxr_studies['txt_path'].progress_apply(get_text)
cxr_studies

assigning text...: 100%|██████████| 227835/227835 [00:57<00:00, 3938.87it/s]

,subject_id,study_id,path,text
0,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...
1,10000032,53189527,files/p10/p10000032/s53189527.txt,FINAL REPORT\...
2,10000032,53911762,files/p10/p10000032/s53911762.txt,FINAL REPORT\...
3,10000032,56699142,files/p10/p10000032/s56699142.txt,FINAL REPORT\...
4,10000764,57375967,files/p10/p10000764/s57375967.txt,FINAL REPORT\...
...,...,...,...,...
227830,19999442,58708861,files/p19/p19999442/s58708861.txt,FINAL REPORT\...
227831,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...
227832,19999987,55368167,files/p19/p19999987/s55368167.txt,FINAL REPORT\...
227833,19999987,58621812,files/p19/p19999987/s58621812.txt,FINAL REPORT\...
227834,19999987,58971208,files/p19/p19999987/s58971208.txt,FINAL REPORT\...

In [52]:
cxr_studies = cxr_studies.rename(columns = {'path':'txt_path'})
cxr_studies

,subject_id,study_id,txt_path,text,Support Devices,dicom_id_x,dicom_id_y,split
0,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,train
1,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,train
2,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,train
3,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,train
4,10000032,53189527,files/p10/p10000032/s53189527.txt,FINAL REPORT\...,NaN,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,train
...,...,...,...,...,...,...,...,...
729343,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...,NaN,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,428e2c18-5721d8f3-35a05001-36f3d080-9053b83c,train
729344,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...,NaN,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,train
729345,19999987,55368167,files/p19/p19999987/s55368167.txt,FINAL REPORT\...,NaN,58766883-376a15ce-3b323a28-6af950a0-16b793bd,58766883-376a15ce-3b323a28-6af950a0-16b793bd,train
729346,19999987,58621812,files/p19/p19999987/s58621812.txt,FINAL REPORT\...,NaN,7ba273af-3d290f8d-e28d0ab4-484b7a86-7fc12b08,7ba273af-3d290f8d-e28d0ab4-484b7a86-7fc12b08,train
729347,19999987,58971208,files/p19/p19999987/s58971208.txt,FINAL REPORT\...,NaN,1a1fe7e3-cbac5d93-b339aeda-86bb86b5-4f31e82e,1a1fe7e3-cbac5d93-b339aeda-86bb86b5-4f31e82e,train

In [39]:
chexpert_df = pd.read_csv('mimiccxr_jpg_and_labels/mimic-cxr-2.0.0-chexpert.csv',usecols=['subject_id','study_id','Support Devices'])
cxr_studies['Support Devices'] = chexpert_df['Support Devices']
cxr_studies

,subject_id,study_id,txt_path,text,Support Devices
0,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN
1,10000032,53189527,files/p10/p10000032/s53189527.txt,FINAL REPORT\...,NaN
2,10000032,53911762,files/p10/p10000032/s53911762.txt,FINAL REPORT\...,NaN
3,10000032,56699142,files/p10/p10000032/s56699142.txt,FINAL REPORT\...,NaN
4,10000764,57375967,files/p10/p10000764/s57375967.txt,FINAL REPORT\...,NaN
...,...,...,...,...,...
227830,19999442,58708861,files/p19/p19999442/s58708861.txt,FINAL REPORT\...,NaN
227831,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...,NaN
227832,19999987,55368167,files/p19/p19999987/s55368167.txt,FINAL REPORT\...,NaN
227833,19999987,58621812,files/p19/p19999987/s58621812.txt,FINAL REPORT\...,NaN
227834,19999987,58971208,files/p19/p19999987/s58971208.txt,FINAL REPORT\...,NaN

In [49]:
cxr_split_df  = pd.read_csv('mimiccxr_jpg_and_labels/mimic-cxr-2.0.0-split.csv.gz')
cxr_split_df
# cxr_studies = cxr_studies.merge(cxr_metadata_df, on = 'study_id')

,dicom_id,study_id,subject_id,split
0,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,50414267,10000032,train
1,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,50414267,10000032,train
2,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,53189527,10000032,train
3,e084de3b-be89b11e-20fe3f9f-9c8d8dfe-4cfd202c,53189527,10000032,train
4,68b5c4b1-227d0485-9cc38c3f-7b84ab51-4b472714,53911762,10000032,train
...,...,...,...,...
377105,428e2c18-5721d8f3-35a05001-36f3d080-9053b83c,57132437,19999733,train
377106,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,57132437,19999733,train
377107,58766883-376a15ce-3b323a28-6af950a0-16b793bd,55368167,19999987,train
377108,7ba273af-3d290f8d-e28d0ab4-484b7a86-7fc12b08,58621812,19999987,train
377109,1a1fe7e3-cbac5d93-b339aeda-86bb86b5-4f31e82e,58971208,19999987,train

In [51]:
cxr_studies = cxr_studies.merge(cxr_split_df, on = 'study_id')
cxr_studies

,subject_id,study_id,txt_path,text,Support Devices,dicom_id_x,dicom_id_y,split
0,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,train
1,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,train
2,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,02aa804e-bde0afdd-112c0b34-7bc16630-4e384014,train
3,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...,NaN,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,174413ec-4ec4c1f7-34ea26b7-c5f994f8-79ef1962,train
4,10000032,53189527,files/p10/p10000032/s53189527.txt,FINAL REPORT\...,NaN,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,2a2277a9-b0ded155-c0de8eb9-c124d10e-82c5caab,train
...,...,...,...,...,...,...,...,...
729343,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...,NaN,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,428e2c18-5721d8f3-35a05001-36f3d080-9053b83c,train
729344,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...,NaN,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,58c403aa-35ff8bd9-73e39f54-8dc9cc5d-e0ec3fa9,train
729345,19999987,55368167,files/p19/p19999987/s55368167.txt,FINAL REPORT\...,NaN,58766883-376a15ce-3b323a28-6af950a0-16b793bd,58766883-376a15ce-3b323a28-6af950a0-16b793bd,train
729346,19999987,58621812,files/p19/p19999987/s58621812.txt,FINAL REPORT\...,NaN,7ba273af-3d290f8d-e28d0ab4-484b7a86-7fc12b08,7ba273af-3d290f8d-e28d0ab4-484b7a86-7fc12b08,train
729347,19999987,58971208,files/p19/p19999987/s58971208.txt,FINAL REPORT\...,NaN,1a1fe7e3-cbac5d93-b339aeda-86bb86b5-4f31e82e,1a1fe7e3-cbac5d93-b339aeda-86bb86b5-4f31e82e,train