In [1]:
import pandas as pd

pd.read_pickle('mimiccxr_studies_text')

,subject_id,study_id,txt_path,text
0,10000032,50414267,files/p10/p10000032/s50414267.txt,FINAL REPORT\...
1,10000032,53189527,files/p10/p10000032/s53189527.txt,FINAL REPORT\...
2,10000032,53911762,files/p10/p10000032/s53911762.txt,FINAL REPORT\...
3,10000032,56699142,files/p10/p10000032/s56699142.txt,FINAL REPORT\...
4,10000764,57375967,files/p10/p10000764/s57375967.txt,FINAL REPORT\...
...,...,...,...,...
227830,19999442,58708861,files/p19/p19999442/s58708861.txt,FINAL REPORT\...
227831,19999733,57132437,files/p19/p19999733/s57132437.txt,FINAL REPORT\...
227832,19999987,55368167,files/p19/p19999987/s55368167.txt,FINAL REPORT\...
227833,19999987,58621812,files/p19/p19999987/s58621812.txt,FINAL REPORT\...
227834,19999987,58971208,files/p19/p19999987/s58971208.txt,FINAL REPORT\...